:root {
  /* Colors */
  --background-color: #f2f0e7;
  --primary-color: #e5dac6;
  --primary-color-op: rgba(229, 218, 198, 0.7);
  --text-input-color: #c2b8a7;
  --text-color: #2c2c2c;
  --ziggy: #9abc04;
  --buzzy: #5273ba;
  --cherry: #b32e40;
  --crispy: #ffa54b;

  /* Font */
  --font-rubrik: "betania patmos", serif;
  --font-text: "istok web", sans-serif;

  /* Font size */
  --text-size: 1.6rem;
  --input-size: 1.2rem;
  --titles-size: 2rem;
  --optional-size: 0.8rem;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius: 0.5rem;

  /* Filters */
  --filter-ziggy: invert(56%) sepia(78%) saturate(542%) hue-rotate(30deg)
    brightness(100%) contrast(97%);
  --filter-buzzy: invert(46%) sepia(81%) saturate(366%) hue-rotate(183deg)
    brightness(82%) contrast(91%);
  --filter-cherry: invert(21%) sepia(45%) saturate(3726%) hue-rotate(333deg)
    brightness(92%) contrast(86%);
  --filter-cripsy: invert(81%) sepia(15%) saturate(5046%) hue-rotate(324deg)
    brightness(105%) contrast(103%);

  /* Mascots */
  --ziggy-img: url("./assets/ziggy.svg");
  --buzzy-img: url("./assets/buzzy.svg");
  --cherry-img: url("./assets/cherry.svg");
  --crispy-img: url("./assets/crispy.svg");
}

.filterAddContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  max-width: 37.4rem;
}

.filterAddTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  gap: 2rem;
  font-family: var(--font-text);
  font-size: var(--text-size);
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  height: 4rem;
}

.backButton {
  position: absolute;
  left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: var(--filter-ziggy);
}

:global(.crispyTheme) {
  .backButton {
    filter: var(--filter-cripsy);
  }
}

:global(.buzzyTheme) {
  .backButton {
    filter: var(--filter-buzzy);
  }
}

:global(.cherryTheme) {
  .backButton {
    filter: var(--filter-cherry);
  }
}