:root {
  /* Colors */
  --background-color: #f2f0e7;
  --primary-color: #e5dac6;
  --primary-color-op: rgba(229, 218, 198, 0.7);
  --text-input-color: #c2b8a7;
  --text-color: #2c2c2c;
  --ziggy: #9abc04;
  --buzzy: #5273ba;
  --cherry: #b32e40;
  --crispy: #ffa54b;

  /* Font */
  --font-rubrik: "betania patmos", serif;
  --font-text: "istok web", sans-serif;

  /* Font size */
  --text-size: 1.6rem;
  --input-size: 1.2rem;
  --titles-size: 2rem;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius: 0.5rem;

  /* Filters */
  --filter-ziggy: invert(56%) sepia(78%) saturate(542%) hue-rotate(30deg)
    brightness(100%) contrast(97%);
  --filter-buzzy: invert(46%) sepia(81%) saturate(366%) hue-rotate(183deg)
    brightness(82%) contrast(91%);
  --filter-cherry: invert(21%) sepia(45%) saturate(3726%) hue-rotate(333deg)
    brightness(92%) contrast(86%);
  --filter-cripsy: invert(81%) sepia(15%) saturate(5046%) hue-rotate(324deg)
    brightness(105%) contrast(103%);

  /* Mascots */
  --ziggy-img: url("./assets/ziggy.svg");
  --buzzy-img: url("./assets/buzzy.svg");
  --cherry-img: url("./assets/cherry.svg");
  --crispy-img: url("./assets/crispy.svg");
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
}

.filterList,
.categoryList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.categoryList input[type="radio"] {
  display: none;
}

.filterList input[type="checkbox"] {
  display: none;
}

.filterName,
.categoryName {
  cursor: pointer;
  width: 13.8rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-text);
  font-size: var(--text-size);
}

.filterList input[type="checkbox"]:checked + .filterName {
  background-color: var(--ziggy);
  color: var(--background-color);
}

.categoryList input[type="radio"]:checked + .categoryName {
  background-color: var(--ziggy);
  color: var(--background-color);
}

.categoryWithFilters {
  background-color: var(--ziggy);
  color: var(--background-color);
}

.categoryName::after {
  content: attr(data-count);
  background-color: var(--ziggy);
  color: var(--background-color);
}

.categoryTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  font-family: var(--font-text);
  font-size: var(--titles-size);
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
}

.filterTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  gap: 2rem;
  font-family: var(--font-text);
  font-size: var(--titles-size);
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  height: 4rem;
}

.backButton {
  position: absolute;
  left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: var(--filter-ziggy);
}

.filterTop p {
  margin: 0rem;
  margin-left: -1.6rem;
}

.filterButtons {
  display: flex;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  margin-top: 0.8rem;
}

.clearButton {
  color: #d80000;
  border: none;
  background: none;
  font-family: var(--font-text);
  font-size: var(--text-size);
  cursor: pointer;
  text-decoration: underline;
}

.applyButton {
  background-color: var(--ziggy);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-text);
  font-size: var(--text-size);
  cursor: pointer;
  padding: 0.8rem 1.6rem;
}


:global(.crispyTheme) {
  .applyButton {
    background-color: var(--crispy);
  }

  .filterList input[type="checkbox"]:checked + .filterName {
    background-color: var(--crispy);
  }

  .categoryList input[type="radio"]:checked + .categoryName {
    background-color: var(--crispy);
  }

  .categoryWithFilters {
    background-color: var(--crispy);
  }

  .categoryName::after {
    background-color: var(--crispy);
  }

  .backButton {
    filter: var(--filter-cripsy);
  }
}

:global(.buzzyTheme) {
  .applyButton {
    background-color: var(--buzzy);
  }

  .filterList input[type="checkbox"]:checked + .filterName {
    background-color: var(--buzzy);
  }

  .categoryList input[type="radio"]:checked + .categoryName {
    background-color: var(--buzzy);
  }

  .categoryWithFilters {
    background-color: var(--buzzy);
  }

  .categoryName::after {
    background-color: var(--buzzy);
  }

  .backButton {
    filter: var(--filter-buzzy);
  }
}

:global(.cherryTheme) {
  .applyButton {
    background-color: var(--cherry);
  }

  .filterList input[type="checkbox"]:checked + .filterName {
    background-color: var(--cherry);
  }

  .categoryList input[type="radio"]:checked + .categoryName {
    background-color: var(--cherry);
  }

  .categoryWithFilters {
    background-color: var(--cherry);
  }

  .categoryName::after {
    background-color: var(--cherry);
  }

  .backButton {
    filter: var(--filter-cherry);
  }
}