:root {
  /* Colors */
  --background-color: #f2f0e7;
  --primary-color: #e5dac6;
  --primary-color-op: rgba(229, 218, 198, 0.7);
  --text-input-color: #c2b8a7;
  --text-color: #2c2c2c;
  --ziggy: #9abc04;
  --buzzy: #5273ba;
  --cherry: #b32e40;
  --crispy: #ffa54b;

  /* Font */
  --font-rubrik: "betania patmos", serif;
  --font-text: "istok web", sans-serif;

  /* Font size */
  --text-size: 1.6rem;
  --input-size: 1.2rem;
  --titles-size: 2rem;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius: 0.5rem;
  
  /* Mascots */
  --ziggy-img: url("./assets/ziggy.svg");
  --buzzy-img: url("./assets/buzzy.svg");
  --cherry-img: url("./assets/cherry.svg");
  --crispy-img: url("./assets/crispy.svg");
}

.lactoseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.topLactose {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    width: 26rem;
}

.lactoseTitle {
  font-family: var(--font-text);
  font-weight: var(--font-weight-bold);
  font-size: var(--titles-size);
  color: var(--text-color);
  text-align: center;
}

.backButton {
    background: none;
    border: none;
    cursor: pointer;
}

.lactoseTitles {
    font-family: var(--font-text);
    font-weight: var(--font-weight-regular);
    font-size: var(--titles-size);
    color: var(--text-color);
    margin-bottom: 0.8rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
}

.lactoseText {
    font-family: var(--font-text);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-size);
    color: var(--text-color);
}