:root {
  /* Colors */
  --background-color: #f2f0e7;
  --primary-color: #e5dac6;
  --primary-color-op: rgba(229, 218, 198, 0.7);
  --text-input-color: #c2b8a7;
  --text-color: #2c2c2c;
  --ziggy: #9abc04;
  --buzzy: #5273ba;
  --cherry: #b32e40;
  --crispy: #ffa54b;

  /* Font */
  --font-rubrik: "betania patmos", serif;
  --font-text: "istok web", sans-serif;

  /* Font size */
  --text-size: 1.6rem;
  --input-size: 1.2rem;
  --titles-size: 2rem;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius: 0.5rem;

  /* Filters */
  --filter-ziggy: invert(56%) sepia(78%) saturate(542%) hue-rotate(30deg) brightness(100%) contrast(97%);
  --filter-buzzy: invert(46%) sepia(81%) saturate(366%) hue-rotate(183deg) brightness(82%) contrast(91%);
  --filter-cherry: invert(21%) sepia(45%) saturate(3726%) hue-rotate(333deg) brightness(92%) contrast(86%);
  --filter-cripsy: invert(81%) sepia(15%) saturate(5046%) hue-rotate(324deg) brightness(105%) contrast(103%);
  
  /* Mascots */
  --ziggy-img: url("./assets/ziggy.svg");
  --buzzy-img: url("./assets/buzzy.svg");
  --cherry-img: url("./assets/cherry.svg");
  --crispy-img: url("./assets/crispy.svg");
}

.confirmationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  max-width: 37.4rem;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: 1.6rem;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.confirmationText {
  font-family: var(--font-text);
  font-size: var(--text-size);
  color: var(--text-color);
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteButton,
.cancelButton {
    width: 26rem;
    height: 4rem;
    font-size: var(--text-size);
    font-family: var(--font-text);
    cursor: pointer;
    border: var(--text-color) solid 1px;
}

/* Media queries for smaller screens */
@media (max-width: 360px) {
  .confirmationContainer {
    max-width: 90%;
    gap: 3rem;
    padding: 1.2rem;
  }

  .deleteButton,
  .cancelButton {
    width: 100%;
    height: 3.5rem;
    font-size: 1.5rem;
  }

  .confirmationText {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .confirmationContainer {
    max-width: 85%;
    gap: 2rem;
    padding: 1rem;
    top: 40%;
  }

  .deleteButton,
  .cancelButton {
    width: 100%;
    height: 3.2rem;
    font-size: 1.3rem;
  }

  .confirmationText {
    font-size: 1.3rem;
  }
}

.deleteButton {
    color: #ae162a;
    background-color: var(--background-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-top: none;
}

.cancelButton {
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

:global(.crispyTheme) {
  .confirmationContainer img {
    content: url(../../assets/mascots/mascotsSad/sadCrispy.svg);
  }
}

:global(.buzzyTheme) {
  .confirmationContainer img {
    content: url(../../assets/mascots/mascotsSad/sadBuzzy.svg);
  }
}

:global(.cherryTheme) {
  .confirmationContainer img {
    content: url(../../assets/mascots/mascotsSad/sadCherry.svg);
  }
}