.App {
  padding-bottom: 100px;
}

/* Media queries for smaller screens */
@media (max-width: 360px) {
  .App {
    padding-bottom: 80px;
  }
}

@media (max-width: 320px) {
  .App {
    padding-bottom: 70px;
  }
}


