:root {

/* Colors */
--background-color: #F2F0E7,
--primary-color: #E5DAC6,
--primary-color-op: #E5DAC6 70%,
--text-input-color: #C2B8A7,
--text-color: #2c2c2c,
--ziggy: #9ABC04,
--buzzy: #5273BA,
--cherry: #B32E40,
--crispy: #FFA54B,

/* Font */
--font-rubrik: 'betania patmos', serif,
--font-text: 'istok web', sans-serif,

/* Font size */
--tekst-size: 1.6rem,
--input-size: 1.2rem,
--titles-size: 2rem,
--optional-size: 0.8rem,

/* Font weight */
--font-weight-regular: 400,
--font-weight-bold: 700,

/* Border radius */
--border-radius: 0.5rem,

/* Mascots */
--ziggy-img: url('./assets/ziggy.svg'),
--buzzy-img: url('./assets/buzzy.svg'),
--cherry-img: url('./assets/cherry.svg'),
--crispy-img: url('./assets/crispy.svg'),

}

body {
  background-color: var(--background-color);
  font-family: var(--font-text);
  color: var(--text-color);
}

/* rem 10px=1rem */
html {
  font-size: 62.5%;
}