:root {
  /* Colors */
  --background-color: #f2f0e7;
  --primary-color: #e5dac6;
  --primary-color-op: rgba(229, 218, 198, 0.7);
  --text-input-color: #c2b8a7;
  --text-color: #2c2c2c;
  --ziggy: #9abc04;
  --buzzy: #5273ba;
  --cherry: #b32e40;
  --crispy: #ffa54b;

  /* Font */
  --font-rubrik: "betania patmos", serif;
  --font-text: "istok web", sans-serif;

  /* Font size */
  --text-size: 1.6rem;
  --input-size: 1.2rem;
  --titles-size: 2rem;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius: 0.5rem;

  /* Filters */
  --filter-ziggy: invert(56%) sepia(78%) saturate(542%) hue-rotate(30deg)
    brightness(100%) contrast(97%);
  --filter-buzzy: invert(46%) sepia(81%) saturate(366%) hue-rotate(183deg)
    brightness(82%) contrast(91%);
  --filter-cherry: invert(21%) sepia(45%) saturate(3726%) hue-rotate(333deg)
    brightness(92%) contrast(86%);
  --filter-cripsy: invert(81%) sepia(15%) saturate(5046%) hue-rotate(324deg)
    brightness(105%) contrast(103%);

  /* Mascots */
  --ziggy-img: url("./assets/ziggy.svg");
  --buzzy-img: url("./assets/buzzy.svg");
  --cherry-img: url("./assets/cherry.svg");
  --crispy-img: url("./assets/crispy.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-text);
  color: var(--text-color);
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 1.6rem;
}

/* rem 10px=1rem */
html {
  font-size: 62.5%;
}

/* Media queries for smaller screens */
@media (max-width: 390px) {
  body {
    width: 100%;
    padding: 1.2rem;
  }
  
  html {
    font-size: 56.25%; /* Reduces base font size to 9px */
  }
}

@media (max-width: 360px) {
  body {
    padding: 1rem;
  }
  
  html {
    font-size: 50%; /* Reduces base font size to 8px */
  }
}

@media (max-width: 320px) {
  body {
    padding: 0.8rem;
  }
  
  html {
    font-size: 50%;
  }
}

.ikonerFarveChange {
  filter: var(--filter-ziggy);
}

.crispyTheme .ikonerFarveChange {
  filter: var(--filter-crispy);
}

.buzzyTheme .ikonerFarveChange {
  filter: var(--filter-buzzy);
}

.cherryTheme .ikonerFarveChange {
  filter: var(--filter-cherry);
}

.gaTilOpskrift{
  background-color: var(--ziggy);
}
.crispyTheme .gaTilOpskrift{
  background-color: var(--crispy);
}
.buzzyTheme .gaTilOpskrift{
  background-color: var(--buzzy);
}
.cherryTheme .gaTilOpskrift{
  background-color: var(--cherry);
}

.indkobKnap{
  border-color: var(--ziggy);
}
.crispyTheme .indkobKnap{
  border-color: var(--crispy);
}
.buzzyTheme .indkobKnap{
  border-color: var(--buzzy);
}
.cherryTheme .indkobKnap{
  border-color: var(--cherry);
}

.opretIndkob{
  background-color: var(--ziggy);
}
.crispyTheme .opretIndkob{
  background-color: var(--crispy);
}
.buzzyTheme .opretIndkob{
  background-color: var(--buzzy);
}
.cherryTheme .opretIndkob{
  background-color: var(--cherry);
}
